beautifulsoup4
chromadb
langchain-text-splitters
langgraph
langsmith
openai
google-genai
pdfplumber
pydantic>=2.0
python-dotenv
rank_bm25
requests
sentence-transformers
streamlit
torchvision
yfinance
